.blog-big-image{
	width: 100%;
	margin-top: 80px;
	height: 540px;
	background-size: cover;
	background-position: center;
}
.blog-content{
	background: #fff;
	padding-bottom: 100px;
}
	.blog-content p{
		color: #333;
		margin-bottom: 30px;
	}
	.blog-content p.italic{
		font-style: italic;
	}
	.blog-content h3{
		font-size: 22px;
		font-weight: normal;
		font-family: "Merriweather";
		line-height: 22px;
		color: #333;
		text-align: center;
		text-transform: uppercase;
		margin: 60px 0 30px;
		letter-spacing: 1px;
	}
	.blog-content .share-button{
		text-align: center;
		margin-bottom: 5px;
	}
	.blog-content .share-button a{
		color: #333;
	}
.blog-title{
	color: #333;
	text-align: center;
	font-size: 40px;
	line-height: 40px;
	margin: 50px 0;
}
	.blog-title .date,
	.blog-title .label{
		display: inline-block;
		font-size: 14px;
		line-height: 14px;
		text-transform: uppercase;
		color: #999;
		margin-bottom: 8px;
	}
	.blog-title .label{
		padding: 0 0 0 10px;
		border-radius: 0;
		border-left: 1px solid #999;
		margin-left: 5px;
		font-weight: normal;
	}
.reservation-block{
	opacity: 1;
	position: relative;
	margin: 25px 0 35px;
}
@media (max-width: 1280px){
	.blog-big-image{
		height: 420px;
	}
}
@media (max-width: 1199px){
	.blog-title{
		font-size: 36px;
	}
}
@media (max-width: 991px){
	.blog-title{
		font-size: 28px;
	}
}
@media (max-width: 768px){
	.blog-big-image{
		height: 340px;
	}
	.blog-title{
		font-size: 26px;
	}
}
@media (max-width: 767px){
	.blog-big-image{
		height: 200px;
	}
}
@media (max-width: 640px){
	.blog-big-image{
		margin-top: 60px;
	}
}